h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, #team {
  font-family: 'Raleway';
}

p, .lead {
	font-family: 'Raleway';
}

h1 {
  font-size: 5vh;
  line-height: 5vh;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
}

header {
  background: url(../img/header-bg.png) no-repeat center center;
  width: 100%;
  padding: 8px 10px 60px 10px;
  height: 100vh;
  overflow: hidden;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.row-header {
  margin: 1% 5% 0 5%;
  border: 0px solid black;
  width: 100hw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.logo img{
  float: left;
  width: 13hw;
  height: 5vh;
}

.header-text {
  font-size: 17px;
  color: var(--color);
  font-weight: 400;
  text-decoration: none;
}

.nav-bar {
  float: right;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
  width: 40vh;
}

.nav-bar-items {
  margin: 0 auto;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-bar-items-box {
  width: 40px;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--color);
  transition: 0.25s;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 40px;
}

.raise {
  --color: #ffffff;
  --hover: #000000;
}

.raise:hover > p, .raise:focus > p {
  font-size: 18px;
  color: var(--hover);
  text-decoration: none;
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  border: 2px solid var(--hover);
  transform: translateY(-0.40em);
}